# Specify libhtp and suricata-update requirements.
#
# Format:
#
#   name {repo} {branch|tag}
libhtp git@github.com:OISF/libhtp.git 0.5.52
suricata-update git@github.com:OISF/suricata-update.git 1.3.7
